In [3]:
import pandas as pd
data=pd.read_csv("Uber.csv")
#head used to display frst 5 rrows
data.head()

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
0,1/1/2016 21:11,1/1/2016 21:17,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,1/2/2016 1:25,1/2/2016 1:37,Business,Fort Pierce,Fort Pierce,5.0,NaN
2,1/2/2016 20:25,1/2/2016 20:38,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,1/5/2016 17:31,1/5/2016 17:45,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,1/6/2016 14:42,1/6/2016 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit

In [6]:
#shape gives rows and columns number
data.shape

(1156, 7)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1156 entries, 0 to 1155
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   START_DATE*  1156 non-null   object
 1   END_DATE*    1155 non-null   object
 2   CATEGORY*    1155 non-null   object
 3   START*       1155 non-null   object
 4   STOP*        1155 non-null   object
 5   MILES*       1156 non-null   float64
 6   PURPOSE*     653 non-null    object
dtypes: float64(1), object(6)
memory usage: 63.3+ KB

In [8]:
data.describe()

             MILES*
count   1156.000000
mean      21.115398
std      359.299007
min        0.500000
25%        2.900000
50%        6.000000
75%       10.400000
max    12204.700000

In [11]:
#used for displaying missing values, true means it has missing value
print(data.isnull())
#sum() displays the columns has how many no of null values
data.isnull().sum()

      START_DATE*  END_DATE*  CATEGORY*  START*  STOP*  MILES*  PURPOSE*
0           False      False      False   False  False   False     False
1           False      False      False   False  False   False      True
2           False      False      False   False  False   False     False
3           False      False      False   False  False   False     False
4           False      False      False   False  False   False     False
...           ...        ...        ...     ...    ...     ...       ...
1151        False      False      False   False  False   False     False
1152        False      False      False   False  False   False     False
1153        False      False      False   False  False   False     False
1154        False      False      False   False  False   False     False
1155        False       True       True    True   True   False      True

[1156 rows x 7 columns]

START_DATE*      0
END_DATE*        1
CATEGORY*        1
START*           1
STOP*            1
MILES*           0
PURPOSE*       503
dtype: int64

In [18]:
import pandas as pd
df=pd.read_csv("Uber.csv",
               sep=",",
               dtype={"START_DATE*":int},#changes the type of data
               skiprows=1,#skips frst row
               nrows=5,#displays frst 5 rows
               na_values=["NA","Unknown"]#Treats the values "NA" and "Unknown" as missing values (NaN).
               )
print(df)

   1/1/2016 21:11  1/1/2016 21:17  Business      Fort Pierce    Fort Pierce.1  \
0   1/2/2016 1:25   1/2/2016 1:37  Business      Fort Pierce      Fort Pierce
1  1/2/2016 20:25  1/2/2016 20:38  Business      Fort Pierce      Fort Pierce
2  1/5/2016 17:31  1/5/2016 17:45  Business      Fort Pierce      Fort Pierce
3  1/6/2016 14:42  1/6/2016 15:49  Business      Fort Pierce  West Palm Beach
4  1/6/2016 17:15  1/6/2016 17:19  Business  West Palm Beach  West Palm Beach

    5.1   Meal/Entertain
0   5.0              NaN
1   4.8  Errand/Supplies
2   4.7          Meeting
3  63.7   Customer Visit
4   4.3   Meal/Entertain

In [29]:
print("last 5 rows are:",data.tail())
print("accesing frst row:",data.iloc[0])
print("acess 20 to 40 rows,1 to 3 columns:",data.iloc[20:41,1:4])
print("displays all wos o frst column:",data.iloc[:,0:1])
print("displays last row:",data.iloc[-1])
data.iloc[:,-1]

last 5 rows are:            START_DATE*         END_DATE* CATEGORY*            START*  \
1151  12/31/2016 13:24  12/31/2016 13:42  Business           Kar?chi
1152  12/31/2016 15:03  12/31/2016 15:38  Business  Unknown Location
1153  12/31/2016 21:32  12/31/2016 21:50  Business        Katunayake
1154  12/31/2016 22:08  12/31/2016 23:51  Business           Gampaha
1155            Totals               NaN       NaN               NaN

                 STOP*   MILES*        PURPOSE*
1151  Unknown Location      3.9  Temporary Site
1152  Unknown Location     16.2         Meeting
1153           Gampaha      6.4  Temporary Site
1154         Ilukwatta     48.2  Temporary Site
1155               NaN  12204.7             NaN
accesing frst row: START_DATE*    1/1/2016 21:11
END_DATE*      1/1/2016 21:17
CATEGORY*            Business
START*            Fort Pierce
STOP*             Fort Pierce
MILES*                    5.1
PURPOSE*       Meal/Entertain
Name: 0, dtype: object
acess 20 to 40 rows,1 to 3 columns:           END_DATE* CATEGORY*               START*
20  1/12/2016 15:28  Business        Hudson Square
21  1/12/2016 15:54  Business       Hell's Kitchen
22  1/12/2016 17:00  Business             New York
23  1/13/2016 14:07  Business             Downtown
24  1/13/2016 15:28  Business              Gulfton
25  1/14/2016 17:05  Business              Houston
26  1/14/2016 21:45  Business           Eagan Park
27   1/15/2016 1:01  Business          Morrisville
28  1/15/2016 12:03  Business                 Cary
29  1/15/2016 13:44  Business               Durham
30  1/18/2016 15:06  Business                 Cary
31  1/18/2016 16:24  Business     Farmington Woods
32   1/19/2016 9:23  Business          Whitebridge
33  1/19/2016 11:09  Business  Lake Wellingborough
34  1/20/2016 11:11  Business                 Cary
35  1/20/2016 12:19  Business  Fayetteville Street
36  1/20/2016 14:19  Business              Raleigh
37  1/21/2016 14:29  Business                 Cary
38  1/21/2016 14:51  Business                 Cary
39  1/21/2016 16:06  Business                 Cary
40  1/26/2016 10:50  Business          Whitebridge
displays all wos o frst column:            START_DATE*
0       1/1/2016 21:11
1        1/2/2016 1:25
2       1/2/2016 20:25
3       1/5/2016 17:31
4       1/6/2016 14:42
...                ...
1151  12/31/2016 13:24
1152  12/31/2016 15:03
1153  12/31/2016 21:32
1154  12/31/2016 22:08
1155            Totals

[1156 rows x 1 columns]
displays last row: START_DATE*     Totals
END_DATE*          NaN
CATEGORY*          NaN
START*             NaN
STOP*              NaN
MILES*         12204.7
PURPOSE*           NaN
Name: 1155, dtype: object

0        Meal/Entertain
1                   NaN
2       Errand/Supplies
3               Meeting
4        Customer Visit
             ...
1151     Temporary Site
1152            Meeting
1153     Temporary Site
1154     Temporary Site
1155                NaN
Name: PURPOSE*, Length: 1156, dtype: object

In [31]:
  data['START*'].value_counts()#used t count the unique values

START*
Cary                201
Unknown Location    148
Morrisville          85
Whitebridge          68
Islamabad            57
                   ...
Florence              1
Ridgeland             1
Daytona Beach         1
Sky Lake              1
Gampaha               1
Name: count, Length: 177, dtype: int64

In [32]:
data.dtype

START_DATE*     object
END_DATE*       object
CATEGORY*       object
START*          object
STOP*           object
MILES*         float64
PURPOSE*        object
dtype: object

In [37]:
import pandas as pd
#dataframe used to creating 2d data structres consists rows and columns
temp=pd.DataFrame(
{
    'A':[1,2,3,4],
    'B':[20,30,40,50],
    'C':['2025-1-19','2025-1-21','2021-1-17','2025-1-23']
})
print(temp.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       4 non-null      int64
 1   B       4 non-null      int64
 2   C       4 non-null      object
dtypes: int64(2), object(1)
memory usage: 228.0+ bytes
None

In [49]:
# to convert object C to datetype we use to_datetime()
temp['C']=pd.to_datetime(temp['C'])
temp.dtypes

A             int64
B             int64
C    datetime64[ns]
dtype: object

In [50]:
#to convert datetype to str(object type) type
temp['C'] = temp['C'].dt.strftime('%Y-%m-%d')
temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       4 non-null      int64
 1   B       4 non-null      int64
 2   C       4 non-null      object
dtypes: int64(2), object(1)
memory usage: 228.0+ bytes

In [51]:
# to print miles greater than 50
filter_data =data[data['MILES*'] > 50]
filter_data

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
4,1/6/2016 14:42,1/6/2016 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit
232,3/17/2016 12:52,3/17/2016 15:11,Business,Austin,Katy,136.0,Customer Visit
251,3/19/2016 19:33,3/19/2016 20:39,Business,Galveston,Houston,57.0,Customer Visit
268,3/25/2016 13:24,3/25/2016 16:22,Business,Cary,Latta,144.0,Customer Visit
269,3/25/2016 16:52,3/25/2016 22:22,Business,Latta,Jacksonville,310.3,Customer Visit
270,3/25/2016 22:54,3/26/2016 1:39,Business,Jacksonville,Kissimmee,201.0,Meeting
295,4/2/2016 12:21,4/2/2016 14:47,Business,Kissimmee,Daytona Beach,77.3,Customer Visit
296,4/2/2016 16:57,4/2/2016 18:09,Business,Daytona Beach,Jacksonville,80.5,Customer Visit
297,4/2/2016 19:38,4/2/2016 22:36,Business,Jacksonville,Ridgeland,174.2,Customer Visit
298,4/2/2016 23:11,4/3/2016 1:34,Business,Ridgeland,Florence,144.0,Meeting
299,4/3/2016 2:00,4/3/2016 4:16,Business,Florence,Cary,159.3,Meeting
546,7/14/2016 16:39,7/14/2016 20:05,Business,Morrisville,Banner Elk,195.3,NaN
559,7/17/2016 12:20,7/17/2016 15:25,Personal,Boone,Cary,180.2,Commute
707,8/24/2016 13:01,8/24/2016 15:25,Business,Unknown Location,Unknown Location,96.2,NaN
710,8/25/2016 17:19,8/25/2016 19:20,Business,Unknown Location,Unknown Location,50.4,NaN
726,8/27/2016 14:01,8/27/2016 15:44,Business,Lahore,Unknown Location,86.6,NaN
727,8/27/2016 16:15,8/27/2016 19:13,Business,Unknown Location,Unknown Location,156.9,NaN
751,9/6/2016 17:49,9/6/2016 17:49,Business,Unknown Location,Unknown Location,69.1,NaN
776,9/27/2016 21:01,9/28/2016 2:37,Business,Unknown Location,Unknown Location,195.6,NaN
788,10/6/2016 17:23,10/6/2016 17:40,Business,R?walpindi,Unknown Location,112.6,NaN
869,10/28/2016 15:53,10/28/2016 17:59,Business,Cary,Winston Salem,107.0,Meeting
870,10/28/2016 18:13,10/28/2016 20:07,Business,Winston Salem,Asheville,133.6,Meeting
871,10/28/2016 20:13,10/28/2016 22:00,Business,Asheville,Topton,91.8,Meeting
873,10/29/2016 17:13,10/29/2016 19:19,Business,Hayesville,Topton,75.7,NaN
880,10/30/2016 13:24,10/30/2016 14:37,Business,Bryson City,Asheville,68.4,NaN
881,10/30/2016 15:22,10/30/2016 18:23,Business,Asheville,Mebane,195.9,NaN
1088,12/21/2016 20:56,12/21/2016 23:42,Business,Rawalpindi,Unknown Location,103.0,Meeting
1155,Totals,NaN,NaN,NaN,NaN,12204.7,NaN

In [53]:
# to print miles in between 50 and 100
filter=data[(data['MILES*'])>=50 & (data['MILES*']<=100)]
filter

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
0,1/1/2016 21:11,1/1/2016 21:17,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,1/2/2016 1:25,1/2/2016 1:37,Business,Fort Pierce,Fort Pierce,5.0,NaN
2,1/2/2016 20:25,1/2/2016 20:38,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,1/5/2016 17:31,1/5/2016 17:45,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,1/6/2016 14:42,1/6/2016 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit
...,...,...,...,...,...,...,...
1151,12/31/2016 13:24,12/31/2016 13:42,Business,Kar?chi,Unknown Location,3.9,Temporary Site
1152,12/31/2016 15:03,12/31/2016 15:38,Business,Unknown Location,Unknown Location,16.2,Meeting
1153,12/31/2016 21:32,12/31/2016 21:50,Business,Katunayake,Gampaha,6.4,Temporary Site
1154,12/31/2016 22:08,12/31/2016 23:51,Business,Gampaha,Ilukwatta,48.2,Temporary Site
1155,Totals,NaN,NaN,NaN,NaN,12204.7,NaN

In [54]:
# to print the start contains the city new york
city=data[data['START*']=='New York']
city

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
10,1/10/2016 15:08,1/10/2016 15:51,Business,New York,Queens,10.8,Meeting
22,1/12/2016 16:02,1/12/2016 17:00,Business,New York,Queens County,15.1,Meeting
106,2/14/2016 16:35,2/14/2016 17:02,Business,New York,Long Island City,13.0,Meeting
423,6/10/2016 15:19,6/10/2016 16:28,Business,New York,Jamaica,16.3,Meeting

In [55]:
#to print specific columns
spec=data[['START*','MILES*']]
spec

                START*   MILES*
0          Fort Pierce      5.1
1          Fort Pierce      5.0
2          Fort Pierce      4.8
3          Fort Pierce      4.7
4          Fort Pierce     63.7
...                ...      ...
1151           Kar?chi      3.9
1152  Unknown Location     16.2
1153        Katunayake      6.4
1154           Gampaha     48.2
1155               NaN  12204.7

[1156 rows x 2 columns]

In [60]:
city = data[(data["MILES*"] >= 50) & (data["MILES*"] <= 100) & data['START*'].isin(['New York', 'Lahore', 'Seattle'])]
print(city)
res=city['START*']
res

         START_DATE*        END_DATE* CATEGORY*  START*             STOP*  \
726  8/27/2016 14:01  8/27/2016 15:44  Business  Lahore  Unknown Location

     MILES* PURPOSE*
726    86.6      NaN

726    Lahore
Name: START*, dtype: object

In [61]:
# display all the records whose city is a or b or c and stop city is x or y or z and miles between 10 and 20
city = data[(data["MILES*"] > 10) & (data["MILES*"] <= 20) & data['START*'].isin(['New York', 'Cary', 'Galveston'])& data['STOP*'].isin(['Morrisville', 'Queens County', 'Queens']) ]
print(city)

           START_DATE*         END_DATE* CATEGORY*    START*          STOP*  \
10     1/10/2016 15:08   1/10/2016 15:51  Business  New York         Queens
22     1/12/2016 16:02   1/12/2016 17:00  Business  New York  Queens County
1054  12/15/2016 14:20  12/15/2016 14:54  Business      Cary    Morrisville

      MILES* PURPOSE*
10      10.8  Meeting
22      15.1  Meeting
1054    10.6  Meeting

In [62]:
df=data[(data['MILES*'] > 50)&(data['MILES*']<100) &data['START*'].isin(['New York','Cary','Queens'])][['START*','STOP*','MILES*']]
print(df)

Empty DataFrame
Columns: [START*, STOP*, MILES*]
Index: []

In [64]:

data.dtypes

START_DATE*     object
END_DATE*       object
CATEGORY*       object
START*          object
STOP*           object
MILES*         float64
PURPOSE*        object
dtype: object

In [66]:
#converting start date(obj) to date format
data['START_DATE*'] = pd.to_datetime(data['START_DATE*'], errors='coerce')
data['END_DATE*'] = pd.to_datetime(data['END_DATE*'], errors='coerce')
data.dtypes

START_DATE*    datetime64[ns]
END_DATE*      datetime64[ns]
CATEGORY*              object
START*                 object
STOP*                  object
MILES*                float64
PURPOSE*               object
dtype: object

In [69]:
# display all the records of jan-2016
jan =data[(data['START_DATE*'].dt.month == 1) & (data['START_DATE*'].dt.year == 2016)& (data['START*']=='Cary')]
print(jan)

           START_DATE*           END_DATE* CATEGORY* START*        STOP*  \
7  2016-01-07 13:27:00 2016-01-07 13:33:00  Business   Cary         Cary
8  2016-01-10 08:05:00 2016-01-10 08:25:00  Business   Cary  Morrisville
28 2016-01-15 11:43:00 2016-01-15 12:03:00  Business   Cary       Durham
30 2016-01-18 14:55:00 2016-01-18 15:06:00  Business   Cary         Cary
34 2016-01-20 10:36:00 2016-01-20 11:11:00  Business   Cary      Raleigh
37 2016-01-21 14:25:00 2016-01-21 14:29:00  Business   Cary         Cary
38 2016-01-21 14:43:00 2016-01-21 14:51:00  Business   Cary         Cary
39 2016-01-21 16:01:00 2016-01-21 16:06:00  Business   Cary         Cary
43 2016-01-26 17:17:00 2016-01-26 17:22:00  Business   Cary         Cary
44 2016-01-26 17:27:00 2016-01-26 17:29:00  Business   Cary         Cary
45 2016-01-27 09:24:00 2016-01-27 09:31:00  Business   Cary         Cary
46 2016-01-27 10:19:00 2016-01-27 10:48:00  Business   Cary      Raleigh
50 2016-01-28 12:28:00 2016-01-28 13:00:00  Business   Cary      Raleigh
53 2016-01-29 09:31:00 2016-01-29 09:45:00  Business   Cary         Cary
54 2016-01-29 10:56:00 2016-01-29 11:07:00  Business   Cary         Cary
55 2016-01-29 11:43:00 2016-01-29 12:03:00  Business   Cary       Durham
57 2016-01-29 18:31:00 2016-01-29 18:52:00  Business   Cary         Apex
59 2016-01-30 16:21:00 2016-01-30 16:33:00  Business   Cary         Apex

    MILES*         PURPOSE*
7      0.8          Meeting
8      8.3          Meeting
28    10.4   Meal/Entertain
30     4.8   Meal/Entertain
34    17.1          Meeting
37     1.6  Errand/Supplies
38     2.4   Meal/Entertain
39     1.0   Meal/Entertain
43     1.4  Errand/Supplies
44     0.5  Errand/Supplies
45     1.8          Meeting
46    18.7   Customer Visit
50    19.0   Temporary Site
53     4.6   Customer Visit
54     5.2          Meeting
55    10.4          Meeting
57     5.8  Errand/Supplies
59     5.7  Errand/Supplies

In [74]:
data.reset_index(inplace=True,drop=True)
data

,index,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
0,0,2016-01-01 21:11:00,2016-01-01 21:17:00,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,1,2016-01-02 01:25:00,2016-01-02 01:37:00,Business,Fort Pierce,Fort Pierce,5.0,NaN
2,2,2016-01-02 20:25:00,2016-01-02 20:38:00,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,3,2016-01-05 17:31:00,2016-01-05 17:45:00,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,4,2016-01-06 14:42:00,2016-01-06 15:49:00,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit
...,...,...,...,...,...,...,...,...
1151,1151,2016-12-31 13:24:00,2016-12-31 13:42:00,Business,Kar?chi,Unknown Location,3.9,Temporary Site
1152,1152,2016-12-31 15:03:00,2016-12-31 15:38:00,Business,Unknown Location,Unknown Location,16.2,Meeting
1153,1153,2016-12-31 21:32:00,2016-12-31 21:50:00,Business,Katunayake,Gampaha,6.4,Temporary Site
1154,1154,2016-12-31 22:08:00,2016-12-31 23:51:00,Business,Gampaha,Ilukwatta,48.2,Temporary Site
1155,1155,NaT,NaT,NaN,NaN,NaN,12204.7,NaN

In [76]:
#to sort values by specified columns
data.sort_values(by='MILES*')

,index,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
420,420,2016-06-08 17:16:00,2016-06-08 17:18:00,Business,Soho,Tribeca,0.5,Errand/Supplies
44,44,2016-01-26 17:27:00,2016-01-26 17:29:00,Business,Cary,Cary,0.5,Errand/Supplies
120,120,2016-02-17 16:38:00,2016-02-17 16:43:00,Business,Katunayaka,Katunayaka,0.5,Errand/Supplies
1111,1111,2016-12-25 00:10:00,2016-12-25 00:14:00,Business,Lahore,Lahore,0.6,Errand/Supplies
1110,1110,2016-12-24 22:04:00,2016-12-24 22:09:00,Business,Lahore,Lahore,0.6,Errand/Supplies
...,...,...,...,...,...,...,...,...
776,776,2016-09-27 21:01:00,2016-09-28 02:37:00,Business,Unknown Location,Unknown Location,195.6,NaN
881,881,2016-10-30 15:22:00,2016-10-30 18:23:00,Business,Asheville,Mebane,195.9,NaN
270,270,2016-03-25 22:54:00,2016-03-26 01:39:00,Business,Jacksonville,Kissimmee,201.0,Meeting
269,269,2016-03-25 16:52:00,2016-03-25 22:22:00,Business,Latta,Jacksonville,310.3,Customer Visit
1155,1155,NaT,NaT,NaN,NaN,NaN,12204.7,NaN

In [78]:
data.sort_values(by='MILES*',ascending=False)#displays in descending order

,index,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
1155,1155,NaT,NaT,NaN,NaN,NaN,12204.7,NaN
269,269,2016-03-25 16:52:00,2016-03-25 22:22:00,Business,Latta,Jacksonville,310.3,Customer Visit
270,270,2016-03-25 22:54:00,2016-03-26 01:39:00,Business,Jacksonville,Kissimmee,201.0,Meeting
881,881,2016-10-30 15:22:00,2016-10-30 18:23:00,Business,Asheville,Mebane,195.9,NaN
776,776,2016-09-27 21:01:00,2016-09-28 02:37:00,Business,Unknown Location,Unknown Location,195.6,NaN
...,...,...,...,...,...,...,...,...
1121,1121,2016-12-27 12:53:00,2016-12-27 12:57:00,Business,Kar?chi,Kar?chi,0.6,Meal/Entertain
1110,1110,2016-12-24 22:04:00,2016-12-24 22:09:00,Business,Lahore,Lahore,0.6,Errand/Supplies
44,44,2016-01-26 17:27:00,2016-01-26 17:29:00,Business,Cary,Cary,0.5,Errand/Supplies
420,420,2016-06-08 17:16:00,2016-06-08 17:18:00,Business,Soho,Tribeca,0.5,Errand/Supplies
120,120,2016-02-17 16:38:00,2016-02-17 16:43:00,Business,Katunayaka,Katunayaka,0.5,Errand/Supplies

In [79]:
data.sort_values(by=['MILES*','START*'],ascending=[True,False])

,index,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
420,420,2016-06-08 17:16:00,2016-06-08 17:18:00,Business,Soho,Tribeca,0.5,Errand/Supplies
120,120,2016-02-17 16:38:00,2016-02-17 16:43:00,Business,Katunayaka,Katunayaka,0.5,Errand/Supplies
44,44,2016-01-26 17:27:00,2016-01-26 17:29:00,Business,Cary,Cary,0.5,Errand/Supplies
516,516,2016-07-05 16:48:00,2016-07-05 16:52:00,Business,Whitebridge,Whitebridge,0.6,Errand/Supplies
1110,1110,2016-12-24 22:04:00,2016-12-24 22:09:00,Business,Lahore,Lahore,0.6,Errand/Supplies
...,...,...,...,...,...,...,...,...
776,776,2016-09-27 21:01:00,2016-09-28 02:37:00,Business,Unknown Location,Unknown Location,195.6,NaN
881,881,2016-10-30 15:22:00,2016-10-30 18:23:00,Business,Asheville,Mebane,195.9,NaN
270,270,2016-03-25 22:54:00,2016-03-26 01:39:00,Business,Jacksonville,Kissimmee,201.0,Meeting
269,269,2016-03-25 16:52:00,2016-03-25 22:22:00,Business,Latta,Jacksonville,310.3,Customer Visit
1155,1155,NaT,NaT,NaN,NaN,NaN,12204.7,NaN

In [80]:
import numpy as np
data["MILES_CAT"]=np.where(data['MILES*']>100,"Long trip","short trip")#to create new wcolumn
data.head()

,index,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*,MILES_CAT
0,0,2016-01-01 21:11:00,2016-01-01 21:17:00,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain,short trip
1,1,2016-01-02 01:25:00,2016-01-02 01:37:00,Business,Fort Pierce,Fort Pierce,5.0,NaN,short trip
2,2,2016-01-02 20:25:00,2016-01-02 20:38:00,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies,short trip
3,3,2016-01-05 17:31:00,2016-01-05 17:45:00,Business,Fort Pierce,Fort Pierce,4.7,Meeting,short trip
4,4,2016-01-06 14:42:00,2016-01-06 15:49:00,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit,short trip

In [81]:
# creating a new column
data['new_col']=10
data

,index,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*,MILES_CAT,new_col
0,0,2016-01-01 21:11:00,2016-01-01 21:17:00,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain,short trip,10
1,1,2016-01-02 01:25:00,2016-01-02 01:37:00,Business,Fort Pierce,Fort Pierce,5.0,NaN,short trip,10
2,2,2016-01-02 20:25:00,2016-01-02 20:38:00,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies,short trip,10
3,3,2016-01-05 17:31:00,2016-01-05 17:45:00,Business,Fort Pierce,Fort Pierce,4.7,Meeting,short trip,10
4,4,2016-01-06 14:42:00,2016-01-06 15:49:00,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit,short trip,10
...,...,...,...,...,...,...,...,...,...,...
1151,1151,2016-12-31 13:24:00,2016-12-31 13:42:00,Business,Kar?chi,Unknown Location,3.9,Temporary Site,short trip,10
1152,1152,2016-12-31 15:03:00,2016-12-31 15:38:00,Business,Unknown Location,Unknown Location,16.2,Meeting,short trip,10
1153,1153,2016-12-31 21:32:00,2016-12-31 21:50:00,Business,Katunayake,Gampaha,6.4,Temporary Site,short trip,10
1154,1154,2016-12-31 22:08:00,2016-12-31 23:51:00,Business,Gampaha,Ilukwatta,48.2,Temporary Site,short trip,10
1155,1155,NaT,NaT,NaN,NaN,NaN,12204.7,NaN,Long trip,10

In [83]:
data['MILES_DOG'] = np.select(
    [
        data['MILES*'] <= 100,
        (data['MILES*'] > 100) & (data['MILES*'] < 200),
        data['MILES*'] >= 200
    ],
    ['short trip', 'medium trip', 'long trip'],
    default='unknown'
)
data.head()

,index,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*,MILES_CAT,new_col,MILES_DOG
0,0,2016-01-01 21:11:00,2016-01-01 21:17:00,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain,short trip,10,short trip
1,1,2016-01-02 01:25:00,2016-01-02 01:37:00,Business,Fort Pierce,Fort Pierce,5.0,NaN,short trip,10,short trip
2,2,2016-01-02 20:25:00,2016-01-02 20:38:00,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies,short trip,10,short trip
3,3,2016-01-05 17:31:00,2016-01-05 17:45:00,Business,Fort Pierce,Fort Pierce,4.7,Meeting,short trip,10,short trip
4,4,2016-01-06 14:42:00,2016-01-06 15:49:00,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit,short trip,10,short trip

In [87]:
# count of each trip
cou=data['MILES_DOG'].value_counts()
cou

MILES_DOG
short trip     1139
medium trip      14
long trip         3
Name: count, dtype: int64

In [88]:
# average miles of each purpose
grouped=data.groupby('PURPOSE*')['MILES*'].agg(Mean='mean')
grouped

                       Mean
PURPOSE*
Airport/Travel     5.500000
Between Offices   10.944444
Charity ($)       15.100000
Commute          180.200000
Customer Visit    20.688119
Errand/Supplies    3.968750
Meal/Entertain     5.698125
Meeting           15.247594
Moving             4.550000
Temporary Site    10.474000

In [90]:
grouped=data.groupby('CATEGORY*')['MILES*'].agg(['sum','mean','max'])
grouped

               sum       mean    max
CATEGORY*
Business   11487.0  10.655844  310.3
Personal     717.7   9.320779  180.2