In [34]:
#Load the Dataset
import pandas as pd
df=pd.read_csv('store_sales.csv')
df

,store_id,city,Jan,Feb,Mar,Apr,May,Jun,July,Aug,Sep,Oct,Nov,Dec
0,S_1,Texas,8,20,13,21,17,20,24,17,16,9,7,6
1,S_2,California,12,19,15,15,11,19,7,15,10,11,21,19
2,S_3,California,16,16,14,19,23,6,13,13,15,14,24,8
3,S_4,Texas,8,18,13,10,14,14,6,8,8,18,7,11
4,S_5,Texas,19,5,24,9,5,24,10,5,24,15,6,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,S_96,Texas,7,10,20,20,10,15,15,21,15,7,23,22
96,S_97,California,13,6,7,15,22,10,21,23,10,6,12,9
97,S_98,Texas,16,9,6,14,20,13,11,10,8,22,17,22
98,S_99,Arizona,18,16,9,5,12,22,11,13,21,17,19,10
99,S_100,California,5,23,17,24,15,21,19,10,12,20,5,9

In [40]:
#Calculate the total sales for each store across all months.
df['total'] = df.iloc[:, 2:].sum(axis=1)
df[['store_id', 'total']]

   store_id  total
0       S_1   9939
1       S_2   9935
2       S_3   9942
3       S_4   9896
4       S_5   9920
..      ...    ...
95     S_96   9946
96     S_97   9915
97     S_98   9929
98     S_99   9934
99    S_100   9941

[100 rows x 2 columns]

In [41]:
#Find the average sales for each month across all stores
avg=df.iloc[:,2:].mean()
avg

Jan        14.46
Feb        15.09
Mar        14.56
Apr        14.57
May        13.56
          ...
187       187.00
200       200.00
203       203.00
132       132.00
total    9935.12
Length: 69, dtype: float64

In [42]:
#Identify the store with the highest total sales.
maximum=df['total'].max()
maximum

9975

In [43]:
#Calculate the total sales for each city.
summ=df.groupby('city')['total'].sum()
summ

city
Arizona       218693
California    427245
Texas         347574
Name: total, dtype: int64

In [50]:
#List stores with total sales greater than 200
sale=df[df['total'] > 200]
sale

,store_id,city,Jan,Feb,Mar,Apr,May,Jun,July,Aug,...,206,163,213,171,211,187,200,203,132,total
0,S_1,Texas,8,20,13,21,17,20,24,17,...,206,163,213,171,211,187,200,203,132,9939
1,S_2,California,12,19,15,15,11,19,7,15,...,206,163,213,171,211,187,200,203,132,9935
2,S_3,California,16,16,14,19,23,6,13,13,...,206,163,213,171,211,187,200,203,132,9942
3,S_4,Texas,8,18,13,10,14,14,6,8,...,206,163,213,171,211,187,200,203,132,9896
4,S_5,Texas,19,5,24,9,5,24,10,5,...,206,163,213,171,211,187,200,203,132,9920
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,S_96,Texas,7,10,20,20,10,15,15,21,...,206,163,213,171,211,187,200,203,132,9946
96,S_97,California,13,6,7,15,22,10,21,23,...,206,163,213,171,211,187,200,203,132,9915
97,S_98,Texas,16,9,6,14,20,13,11,10,...,206,163,213,171,211,187,200,203,132,9929
98,S_99,Arizona,18,16,9,5,12,22,11,13,...,206,163,213,171,211,187,200,203,132,9934
99,S_100,California,5,23,17,24,15,21,19,10,...,206,163,213,171,211,187,200,203,132,9941

In [52]:
#Which month had the highest average sales across all stores?
avg=df.iloc[:,2:].mean()
maximum=avg.max()
maximum

9935.12

In [53]:
#Which city generated the most revenue?
city_sales = df.groupby('city')['total'].sum()
a=city_sales.max()
a

427245