In [30]:
#1. Read csv, excel and json file
import pandas as pd
df=pd.read_csv("Uber.csv")
df.head()

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
0,1/1/2016 21:11,1/1/2016 21:17,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,1/2/2016 1:25,1/2/2016 1:37,Business,Fort Pierce,Fort Pierce,5.0,NaN
2,1/2/2016 20:25,1/2/2016 20:38,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,1/5/2016 17:31,1/5/2016 17:45,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,1/6/2016 14:42,1/6/2016 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit

In [4]:
data=pd.read_excel("Historicalinvesttemp.xlsx")
print(data.head())

  Unnamed: 0                        Unnamed: 1 Unnamed: 2 Unnamed: 3
0        NaN                               NaN        NaN        NaN
1        NaN                               NaN        NaN        NaN
2        NaN                               NaN        NaN        NaN
3        NaN                               NaN        NaN        NaN
4        NaN  Annual Returns on Investments in        NaN        NaN

In [6]:
dff=pd.read_json("iris.json")
dff.head()

   sepalLength  sepalWidth  petalLength  petalWidth species
0          5.1         3.5          1.4         0.2  setosa
1          4.9         3.0          1.4         0.2  setosa
2          4.7         3.2          1.3         0.2  setosa
3          4.6         3.1          1.5         0.2  setosa
4          5.0         3.6          1.4         0.2  setosa

In [10]:
#2. load only first 100 rows
df=pd.read_csv("Uber.csv",nrows=100)
df

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
0,1/1/2016 21:11,1/1/2016 21:17,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,1/2/2016 1:25,1/2/2016 1:37,Business,Fort Pierce,Fort Pierce,5.0,NaN
2,1/2/2016 20:25,1/2/2016 20:38,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,1/5/2016 17:31,1/5/2016 17:45,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,1/6/2016 14:42,1/6/2016 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit
...,...,...,...,...,...,...,...
95,2/12/2016 8:21,2/12/2016 8:42,Business,Cary,Durham,8.5,Temporary Site
96,2/12/2016 10:45,2/12/2016 10:52,Business,Durham,Morrisville,2.6,Temporary Site
97,2/12/2016 11:14,2/12/2016 11:35,Business,Morrisville,Raleigh,17.0,Customer Visit
98,2/12/2016 13:02,2/12/2016 13:36,Business,Raleigh,Cary,18.0,Meeting
99,2/12/2016 14:49,2/12/2016 15:06,Business,Cary,Morrisville,8.4,Meeting

In [16]:
#3. Display first 5 rows and last two columns
df.iloc[0:5,-2]

0     5.1
1     5.0
2     4.8
3     4.7
4    63.7
Name: MILES*, dtype: float64

In [17]:
#4. Display 50 to 100 rows
df.iloc[50:101]

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
50,1/28/2016 12:28,1/28/2016 13:00,Business,Cary,Raleigh,19.0,Temporary Site
51,1/28/2016 15:11,1/28/2016 15:31,Business,Meredith Townes,Leesville Hollow,14.7,Meeting
52,1/28/2016 16:21,1/28/2016 16:51,Business,Raleigh,Cary,15.7,Meeting
53,1/29/2016 9:31,1/29/2016 9:45,Business,Cary,Cary,4.6,Customer Visit
54,1/29/2016 10:56,1/29/2016 11:07,Business,Cary,Cary,5.2,Meeting
55,1/29/2016 11:43,1/29/2016 12:03,Business,Cary,Durham,10.4,Meeting
56,1/29/2016 13:24,1/29/2016 13:47,Business,Durham,Cary,10.1,Meeting
57,1/29/2016 18:31,1/29/2016 18:52,Business,Cary,Apex,5.8,Errand/Supplies
58,1/29/2016 21:21,1/29/2016 21:40,Business,Apex,Cary,5.5,Meal/Entertain
59,1/30/2016 16:21,1/30/2016 16:33,Business,Cary,Apex,5.7,Errand/Supplies
60,1/30/2016 18:09,1/30/2016 18:24,Business,Apex,Cary,5.7,Customer Visit
61,2/1/2016 10:35,2/1/2016 11:15,Business,Cary,Chapel Hill,19.4,Customer Visit
62,2/1/2016 12:10,2/1/2016 12:43,Business,Chapel Hill,Cary,23.3,Customer Visit
63,2/1/2016 12:56,2/1/2016 13:07,Business,Northwoods,Whitebridge,3.9,Meal/Entertain
64,2/2/2016 13:04,2/2/2016 13:23,Business,Whitebridge,Williamsburg Manor,8.3,Meeting
65,2/2/2016 13:51,2/2/2016 14:06,Business,Cary,Cary,6.0,Errand/Supplies
66,2/2/2016 14:38,2/2/2016 14:42,Business,Cary,Cary,1.6,Errand/Supplies
67,2/4/2016 8:40,2/4/2016 9:01,Business,Cary,Morrisville,5.2,Errand/Supplies
68,2/4/2016 9:37,2/4/2016 10:09,Business,Morrisville,Cary,9.7,Meal/Entertain
69,2/4/2016 10:26,2/4/2016 10:32,Business,Cary,Cary,1.6,Meal/Entertain
70,2/4/2016 15:59,2/4/2016 16:03,Business,Cary,Cary,1.1,Meal/Entertain
71,2/4/2016 16:35,2/4/2016 16:39,Business,Cary,Cary,1.6,Meal/Entertain
72,2/4/2016 18:04,2/4/2016 18:31,Business,Whitebridge,Macgregor Downs,9.0,Meeting
73,2/4/2016 20:36,2/4/2016 20:55,Business,Cary,Cary,7.7,Meeting
74,2/5/2016 11:47,2/5/2016 12:07,Business,Cary,Durham,10.4,Meeting
75,2/5/2016 13:22,2/5/2016 13:41,Business,Durham,Cary,10.4,Meeting
76,2/6/2016 16:20,2/6/2016 16:53,Business,Cary,Raleigh,11.4,Between Offices
77,2/6/2016 18:57,2/6/2016 19:21,Business,Raleigh,Cary,9.0,Errand/Supplies
78,2/6/2016 19:28,2/6/2016 19:37,Business,Edgehill Farms,Whitebridge,3.2,Meal/Entertain
79,2/7/2016 16:49,2/7/2016 17:01,Business,Cary,Apex,5.6,Errand/Supplies
80,2/7/2016 18:03,2/7/2016 18:17,Business,Apex,Cary,5.7,Customer Visit
81,2/7/2016 18:39,2/7/2016 18:53,Business,Cary,Morrisville,6.1,Temporary Site
82,2/7/2016 20:22,2/7/2016 20:40,Business,Morrisville,Cary,6.1,Meeting
83,2/8/2016 12:57,2/8/2016 13:08,Business,Whitebridge,Edgehill Farms,4.3,Meal/Entertain
84,2/8/2016 14:00,2/8/2016 14:10,Business,Edgehill Farms,Whitebridge,2.7,Meal/Entertain
85,2/9/2016 10:54,2/9/2016 11:07,Personal,Whitebridge,Northwoods,5.3,NaN
86,2/9/2016 11:43,2/9/2016 11:50,Personal,Northwoods,Tanglewood,3.0,NaN
87,2/9/2016 13:36,2/9/2016 13:52,Personal,Tanglewood,Preston,5.1,NaN
88,2/9/2016 13:58,2/9/2016 14:02,Personal,Preston,Whitebridge,1.5,NaN
89,2/9/2016 18:55,2/9/2016 19:11,Business,Cary,Morrisville,6.1,NaN
90,2/9/2016 20:24,2/9/2016 20:40,Business,Morrisville,Cary,6.1,Meal/Entertain
91,2/11/2016 16:28,2/11/2016 17:10,Business,Cary,Raleigh,17.3,Meal/Entertain
92,2/11/2016 17:49,2/11/2016 18:10,Business,Eastgate,Walnut Terrace,5.7,Meal/Entertain
93,2/11/2016 18:24,2/11/2016 18:46,Business,Raleigh,Morrisville,13.5,Temporary Site
94,2/11/2016 20:36,2/11/2016 20:51,Business,Morrisville,Cary,6.1,Temporary Site
95,2/12/2016 8:21,2/12/2016 8:42,Business,Cary,Durham,8.5,Temporary Site
96,2/12/2016 10:45,2/12/2016 10:52,Business,Durham,Morrisville,2.6,Temporary Site
97,2/12/2016 11:14,2/12/2016 11:35,Business,Morrisville,Raleigh,17.0,Customer Visit
98,2/12/2016 13:02,2/12/2016 13:36,Business,Raleigh,Cary,18.0,Meeting
99,2/12/2016 14:49,2/12/2016 15:06,Business,Cary,Morrisville,8.4,Meeting

In [20]:
#5. Display all the rows from first 3 columns.
df.iloc[:,0:3]

        START_DATE*        END_DATE* CATEGORY*
0    1/1/2016 21:11   1/1/2016 21:17  Business
1     1/2/2016 1:25    1/2/2016 1:37  Business
2    1/2/2016 20:25   1/2/2016 20:38  Business
3    1/5/2016 17:31   1/5/2016 17:45  Business
4    1/6/2016 14:42   1/6/2016 15:49  Business
..              ...              ...       ...
95   2/12/2016 8:21   2/12/2016 8:42  Business
96  2/12/2016 10:45  2/12/2016 10:52  Business
97  2/12/2016 11:14  2/12/2016 11:35  Business
98  2/12/2016 13:02  2/12/2016 13:36  Business
99  2/12/2016 14:49  2/12/2016 15:06  Business

[100 rows x 3 columns]

In [24]:
#6. Convert Object format to date format
df.dtypes
df['START_DATE*']=pd.to_datetime(df['START_DATE*'])
df.dtypes

START_DATE*    datetime64[ns]
END_DATE*              object
CATEGORY*              object
START*                 object
STOP*                  object
MILES*                float64
PURPOSE*               object
dtype: object

In [29]:
#7. convert object to int, float formats.
df['STOP*'] = pd.to_numeric(df['STOP*'], errors='coerce').astype('Int64')
df['START**'] = pd.to_numeric(df['STOP*'], errors='coerce')
df.dtypes

START_DATE*    datetime64[ns]
END_DATE*              object
CATEGORY*              object
START*                 object
STOP*                   Int64
MILES*                float64
PURPOSE*               object
START**                 Int64
dtype: object